@import 'colors-GetFishtank';

$mobile-breakpoint: 900px;

// SEARCH
$header-bar-background: $color-2;
$search-area-background: $color-1;

$search-box-input-text: $color-text-1; 
$search-box-border: $color-accent-2; ///////
$search-box-button-background: $color-accent-2; ////
$search-box-button-icon: $color-1; ////
$search-box-button-icon-hover: $color-2; ////

// TABS
$tab-row-background: $color-2;

// active tab uses $results-background-color so it looks like it is part of the results page
$tab-active-background: none; 
$tab-active-border: $color-background-main;
$tab-active-text: $color-2;

$tab-inactive-background: $color-accent-2;
$tab-inactive-border: $color-accent-2;
$tab-inactive-text: $color-2; 

$tab-width: 150px;
$tab-width-fat-desktop: 250px;

// FACETS
$facet-background: $color-background-main;
$facet-heading-text: $color-text-3;
$facet-heading-background: $color-2;
$facet-clear-values: $color-text-3; 

$facet-value-text: $color-text-2;
$facet-value-hover: $color-accent-2;

$facet-icon: $color-2;
$facet-icon-hover: $color-1;

$facet-toggle-mobile-background: $color-2;
$facet-toggle-mobile-text: $color-text-3;

// RESULTS SECTION
$results-section-background: $color-background-main;
$results-header-text: $color-text-1;
// $result-heading-background: $color-2;
$results-header-borderline: $color-text-2;
$results-icon: $color-1;

// RESULT
$result-background: $color-background-main;
$result-heading-link: $color-1;
$result-link-visited: $color-2;
$result-link-hover: $color-2;

$result-filter-link: $color-2;

$result-body-text: $color-text-1;
$result-seperator: $color-accent-2;

//////// 
// PAGINATION
$pagination-button-border: $color-2;
$pagination-button-fill: $color-background-main;
$pagination-button-text: $color-2;
$pagination-button-fill-active: $color-2;
$pagination-button-text-active: $result-background;
$pagination-icon: $color-2;


// must include .fff class on body
body.fff {
    color: $color-text-1;
    .header {
        background-color: $header-bar-background;
        .logo-container {
            img {
                background-color: white;
                border-radius: 40px;
                max-width: 200px;
                margin: 10px 10px 10px 30px;
                padding: 10px;
            }
        }
    }

    ////////
    // SEARCH BAR
    .coveo-search-section-container {
        padding: 60px 0px;
        background-color: $search-area-background;
        
        // hide default mobile facet-more button
        .coveo-dropdown-header-wrapper {
            display: none;
        }
        .CoveoSearchbox {
            @media screen and (max-width: $mobile-breakpoint){
                margin-right: 0px;
            }
            .magic-box {
                border: thin solid $search-box-border;
            }
        }
        .magic-box-input {
            &> input {
                color: $search-box-input-text; 
                font: $font-2;
            }
            ::placeholder {
                color: $search-box-input-text;
                font: $font-2;
            }
        }
        .CoveoSearchButton {
            background-color: $search-box-button-background;
            border-top: thin solid $search-box-border;
            border-bottom: thin solid $search-box-border;
            border-right: thin solid $search-box-border;
            
            .coveo-search-button {
                svg {
                    color: $search-box-button-icon;
                }
            }
            &:hover {
                .coveo-search-button {
                    svg {
                        color: $search-box-button-icon-hover;
                    }
                    svg .coveo-magnifier-circle-svg {
                        fill: $search-box-button-icon-hover;
                    }
                }
            }
        }
    }

////////
// TAB SECTION
    
    .coveo-tab-section {
        background-color: $tab-row-background;
        border-bottom: 1px solid $tab-active-border;
        padding-top: 15px;
        overflow-x: auto;
        overflow-y: hidden;
        .CoveoTab {
            background-color: $tab-inactive-background;
            text-transform: capitalize;
            font: $font-1;

            width: $tab-width;
            @media only screen and (min-width: $mobile-breakpoint) {
                width: $tab-width-fat-desktop;
            }

            border: thin solid;
            border-color: $tab-inactive-border;
            border-bottom: none;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;

            margin: 0px 1px;
            height: 50px;
            vertical-align: bottom;
            p {
                color: $tab-inactive-text;
            }
            &.coveo-selected {
                height: 60px;
                border-left: thin solid $tab-active-border;
                border-top: thin solid $tab-active-border;
                border-right: thin solid $tab-active-border;

                // shifts the tab down and colors it so it looks like it's part of the results page
                margin-bottom: -2px;
                border-bottom: 1px solid $result-background;
                background-color: $result-background;
                p {
                    padding-top: 9px;
                    color: $tab-active-text;
                }
            }
        }
    }

////////
// MAIN SECTION

    .coveo-main-section {
        //background-color: $bg-main;

////////
// FACETS

        .coveo-facet-toggle {
            display: none;
            @media screen and (max-width: $mobile-breakpoint) {
                display: block;                
                margin: 25px 10px 15px 10px;
                padding: 15px;
                background-color: $facet-toggle-mobile-background;
                color: $facet-toggle-mobile-text;
                text-align: center;                
            }

            i.fas { font-size: 1em; color: $facet-toggle-mobile-text;}
        }
        .coveo-facet-column {

            // HIDE FACET COLUMN ON MOBILE BY DEFAULT
            @media screen and (max-width: $mobile-breakpoint) {
                padding: 0px 10px;
                display: none;
            }
            &.open {
                @media screen and (max-width: $mobile-breakpoint) {
                    display: block !important;
                    width:  100%;
                    float: none;
                    
                }
            }
            .CoveoFacet { 
                border: none;
                background-color: $facet-background;
                
                // Facet Title
                .coveo-facet-header {
                    font-weight: bold;
                    background-color: $facet-heading-background;
                    .coveo-facet-header-title {
                        color: $facet-heading-text;
                        font: $font-1;
                    }
                }
                .coveo-facet-header-eraser {
                    color: $facet-clear-values;
                }
                // Facet (...) Icon
                .coveo-facet-header-settings {
                    display: none;
                }
                // Facet Option
                .coveo-facet-value {
                    color: $facet-value-text;
                    font: $font-2;
                    &:hover {
                        background-color: $facet-value-hover;
                    }
                }
                // Facet "More" Dropdown
                .coveo-facet-more, .coveo-facet-less {
                    background-color: $facet-background;
                    &:hover, &:focus {
                        .coveo-facet-more-icon-svg, .coveo-facet-less-icon-svg {
                            color: $facet-icon-hover;
                        }
                    }
                    .coveo-facet-more-icon-svg, .coveo-facet-less-icon-svg {
                        color: $facet-icon;
                    }
                }
            }
        }

////////
// RESULTS

        .coveo-results-column {

//////// 
// RESULTS HEADER
            
            .CoveoQuerySummary, .CoveoQueryDuration {
                span {
                    font: $font-2;
                    color: $results-header-text;
                }
            }
            .CoveoSort {
                color: $results-header-text;
                text-transform: capitalize;
                border-bottom: 2px solid $results-header-borderline;
                font: $font-2;
                &.coveo-selected {
                    border-bottom: 2px solid $results-icon;
                    .coveo-icon span svg {
                        color: $results-icon;
                    }
                }
                .coveo-icon span svg {
                    color: $results-header-text;
                }
            }
            .coveo-results-header {
                border-bottom: thin solid $results-header-borderline;
            }

////////
// RESULT ITEMS

            .CoveoResultList {
                .CoveoResult {
                    border-bottom: thin solid $result-seperator;
                    a.CoveoResultLink {
                        color: $result-heading-link;
                        // background-color: $result-heading-background;
                        font: $font-1;
                    }
                    .coveo-icon-for-quickview-svg {
                        color: $result-filter-link;
                    }
                    .CoveoExcerpt {
                        font: $font-2;
                    }
                    .CoveoPrintableUri {
                        .CoveoResultLink.coveo-printable-uri-part {
                            color: $result-filter-link;
                            font: $font-2;
                        }
                        .coveo-printable-uri-separator {
                            color: $result-body-text;
                            font: $font-2;
                        }
                    }
                    .CoveoFieldValue {
                        span {
                            color: $result-body-text;
                            font: $font-2;
                        }
                        .coveo-field-caption {
                            color: $result-body-text;
                            font: $font-2;
                        }
                    }
                    
                }
            }
        }
    }

////////
// PAGINATION

    .CoveoPager {
        .coveo-pager-list-item {
            border: thin solid $pagination-button-border;
            background-color: $pagination-button-fill;
            .coveo-pager-list-item-text {
                color: $pagination-button-text;
                font: $font-2;
            }
            
            &.coveo-active {
                background-color: $pagination-button-fill-active;
                .coveo-pager-list-item-text {
                    color: $pagination-button-text-active;
                }
            }
        }
        .coveo-pager-next, .coveo-pager-previous {
            border: none;
        }
        .coveo-pager-next-icon svg, .coveo-pager-previous-icon svg {
            color: $pagination-icon;
        }
    }
    .CoveoResultsPerPage {
        .coveo-results-per-page-list-item{
            border: thin solid $pagination-button-border;
            background-color: $pagination-button-fill;
            &.coveo-active {
                background-color: $pagination-button-fill-active;
                .coveo-results-per-page-list-item-text {
                    color: $pagination-button-text-active;
                }
            }
        }
        .coveo-results-per-page-list-item-text {
            color: $pagination-button-text;
            font: $font-2;
        }
        .coveo-results-per-page-text {
            color: $pagination-button-text;
            font: $font-2;
        }
    }
        
}